@require './_colour.styl'
@require './_input.styl'
@require './_variable.styl'

form.form
  display block
  max-width 100%
  .row
    display inline-block
    width 100%

  .field
    padding 0.28rem 0 0.36rem 0
    margin-bottom 0.992rem

// field-N
for k, v in cols
  form.form
    .field-{k}
      width unquote(v)
      display inline-block
      box-sizing border-box
      float left
      padding 0.28rem 0.91rem 0.36rem 0
      margin-bottom 0.992rem
    .offset-{k}
      margin-left unquote(v)

@media only screen and (max-width: 1280px)
  /* v(ast|ery large) size */
  for k, v in cols
    form.form
      [class*="field-v-"][class*="offset-"]
        margin-left unset
      .field-v-{k},
      .field-v-{k}[class*="field-"]
        width unquote(v)
      .row .offset-v-{k}
        margin-left unquote(v)

@media only screen and (max-width: 980px)
  /* large size */
  for k, v in cols
    form.form
      [class*="field-l-"][class*="offset-"]
        margin-left unset
      .field-l-{k},
      .field-l-{k}[class*="field-"]
        width unquote(v)
      .row .offset-l-{k}
        margin-left unquote(v)

@media only screen and (max-width: 768px)
  /* normal size */
  for k, v in cols
    form.form
      [class*="field-n-"][class*="offset-"]
        margin-left unset
      .field-n-{k},
      .field-n-{k}[class*="field-"]
        width unquote(v)
      .row .offset-n-{k}
        margin-left unquote(v)

@media only screen and (max-width: 640px)
  /* m(iddle|edium) size */
  for k, v in cols
    form.form
      [class*="field-m-"][class*="offset-"]
        margin-left unset
      .field-m-{k},
      .field-m-{k}[class*="field-"]
        width unquote(v)
      .row .offset-m-{k}
        margin-left unquote(v)

@media only screen and (max-width: 480px)
  /* small size */
  for k, v in cols
    form.form
      [class*="field-s-"][class*="offset-"]
        margin-left unset
      .field-s-{k},
      .field-s-{k}[class*="field-"]
        width unquote(v)
      .row .offset-s-{k}
        margin-left unquote(v)

@media only screen and (max-width: 320px)
  /* tiny size */
  for k, v in cols
    form.form
      [class*="field-t-"][class*="offset-"]
        margin-left unset
      .field-t-{k},
      .field-t-{k}[class*="field-"]
        width unquote(v)
      .row .offset-t-{k}
        margin-left unquote(v)

form.form
  label.label
    display block
    margin 0 0 0.369rem 0.12rem
    font-size 0.8282em
    color $black0
    font-weight 600
    text-transform none
  input[type="text"],
  input[type="email"],
  input[type="password"]
    input-text()

// checkbox
form.form
  .checkbox
    position relative
    display inline-block
    vertical-align bottom
    font-style normal
    line-height 0.89em
    min-width 2rem
  .checkbox
    label.label,
    span.label
      vertical-align baseline
      cursor pointer
  .checkbox
    input[type="checkbox"]
      z-index -1
      opacity 0
      position absolute
      top 0
      left 0
    input[type="checkbox"] + label::before
      cursor pointer
      top 0
      left 0
      vertical-align baseline
      margin-right 0.66rem
      padding 0.11rem 0 0 0
      border 1px solid darken($gray0, 8%)
      border-radius 0.133rem
      transition width 0.1s, height 0.1s, margin 0.1s
      content "\00a0"
      display inline-block
      width 1.22rem
      height 1.22rem
    input[type="checkbox"]:checked + label::before
      background #ffffff
      color #666666
      content "\25a0"
      text-align center
    input[type="checkbox"]:checked + label::after
      font-weight bold

// select
form.form
  select
    display inline
    min-height 1.2rem
    color $gray2
    border 1px solid darken($gray0, 8%)
    border-radius 0.133rem
    padding 0.261rem 0.363rem
    line-height 1.27em
    text-align left
    width 100%
    overflow hidden
    appearance none
    -webkit-appearance none
    -moz-appearance none
    background transparent
    background-position right center
    background-size 2.49ex
    // unicode filled down triangle sign
    background-image url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSdibGFjaycgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyB3aWR0aD0nMjQnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTTcgMTBsNSA1IDUtNXonLz48cGF0aCBkPSdNMCAwaDI0djI0SDB6JyBmaWxsPSdub25lJy8+PC9zdmc+")
    background-repeat no-repeat
    background-position-x 99.2%
    &::-ms-expand
      display none
    option
      padding 0.171rem 0.363rem
      background #ffffff
      border none

// textarea
form.form
  textarea
    input-text()

// header
form.form
  .header
    font-size 0.962em
    border none
    font-weight 700
    line-height 1.283em
    color $black0
    margin 0.74rem 0.13rem
    padding 0 0 0.41rem 0
    border-bottom 1px solid lighten($gray1, 36%)

// error
form.form
  .error.field,
  .error[class*="field-"]
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="checkbox"] + label::before
      border 1px solid $negative-colour
    label.label
      color darken($negative-colour, 36%)

// required
form.form
  .required.field,
  .required[class*="field-"]
    label.label::after
      vertical-align top
      font-size 0.88em
      display inline-block
      margin -0.19rem 0 0 0.21rem
      content '*'
      color lighten(red, 3%)

// text
form.form
  .field,
  [class*="field-"]
    .text
      font-size 0.91em
      display block
      margin 0.428rem 0 0.602rem 0.11rem
  .field.error,
  [class*="field-"].error
    .text
      color darken($negative-colour, 13%)

// description
form.form
  .field,
  [class*="field-"]
    .description
      font-size 0.91em
      display block
      margin 0.428rem 0 0.602rem 0.11rem
      line-height 1.32em
